{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <h1>{{ title }}</h1>

    {% if error %}
    <div class="error-box">
         {{ error }}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Save</button>
    </form>

    <br>

    <a href="{% url 'pet_list' %}">
         Back to Pets List
    </a>

</div>

</body>

</html>