{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>

    <title>
        {% translate "Appointment Confirmation" %} | {% translate "PetCare Veterinary Clinic" %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<!-- Language Switcher -->
<div style="text-align:right; margin-bottom:20px;">

    <form action="{% url 'set_language' %}" method="post" style="display:inline;">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ request.get_full_path }}">

        <button type="submit"
                name="language"
                value="ar"
                style="background:none; border:none; color:#008acb; cursor:pointer; font-size:16px;">
           العربية
        </button>

    </form>

    <span style="color:#777;">|</span>

    <form action="{% url 'set_language' %}" method="post" style="display:inline;">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ request.get_full_path }}">

        <button type="submit"
                name="language"
                value="en"
                style="background:none; border:none; color:#008acb; cursor:pointer; font-size:16px;">
            English
        </button>

    </form>

</div>
<div class="container">

    <div style="text-align:center; margin-bottom:10px;">

        <img src="{% static 'images/logo.png' %}" alt="{% translate 'Clinic Logo' %}" width="240">

    </div>

    <h2 class="section-title">
        {% translate "Appointment Confirmed" %}
    </h2>

    <div class="success-box">
        {% translate "Your appointment has been booked successfully." %}
    </div>

    <div class="details-box">

        <p><strong>{% translate "Pet Name" %}:</strong> {{ pet.name }}</p>

        <p><strong>{% translate "Owner Name" %}:</strong> {{ pet.owner_name }}</p>

        <p><strong>{% translate "Appointment Type" %}:</strong> {{ pet.appointment_type }}</p>

        <p><strong>{% translate "Doctor" %}:</strong> {{ pet.doctor }}</p>

        <p><strong>{% translate "Visit Date" %}:</strong> {{ pet.visit_date }}</p>

        <p><strong>{% translate "Appointment Time" %}:</strong> {{ pet.appointment_time }}</p>

        <p><strong>{% translate "Appointment Number" %}:</strong> {{ pet.appointment_number }}</p>

    </div>

    <div style="text-align:center; margin-top:30px;">

        <a href="{% url 'appointment_pdf' pet.id %}" class="btn">
            {% translate "Download Appointment PDF" %}
        </a>

       <br><br>

        <a href="{% url 'pet_list' %}" class="back-btn">
           {% translate "Back to Home" %}
        </a>

    </div>

</div>

</body>

</html>