{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Appointment Confirmation | PetCare Veterinary Clinic</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<div class="container">

    <div style="text-align:center; margin-bottom:30px;">

        <img src="{% static 'images/logo.png' %}" alt="PetCare Logo" width="180">

        <h1>PetCare Veterinary Clinic</h1>

        <p class="logo-text">
            Healthy Pets, Happier Families
        </p>

    </div>

    <h2 class="section-title">
        Appointment Confirmed
    </h2>

    <div class="success-box">
        Your appointment has been booked successfully.
    </div>

    <div class="details-box">

        <p><strong>Pet Name:</strong> {{ pet.name }}</p>

        <p><strong>Owner Name:</strong> {{ pet.owner_name }}</p>

        <p><strong>Appointment Type:</strong> {{ pet.appointment_type }}</p>

        <p><strong>Doctor:</strong> {{ pet.doctor }}</p>

        <p><strong>Visit Date:</strong> {{ pet.visit_date }}</p>

        <p><strong>Appointment Time:</strong> {{ pet.appointment_time }}</p>

        <p><strong>Appointment Number:</strong> {{ pet.appointment_number }}</p>

    </div>

    <div style="text-align:center; margin-top:30px;">

        <a href="{% url 'appointment_pdf' pet.id %}" class="btn">
            Download Appointment PDF
        </a>

       <br><br>

        <a href="{% url 'pet_list' %}" class="back-btn">
           Back to Home
        </a>

    </div>

</div>

</body>

</html>